@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Stack+Sans+Text:wght@200..700&display=swap');

body{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
    color: white;
}
nav{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 48px;
    padding: 8px;
    background-color: gray;
}
nav ul li{
    padding: 0 15px;
}
.brand img{
    height: 32px;
    width: 32px;
    box-sizing: border-box;
}
.brand{
    padding: 0 10px;
}