@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Stack+Sans+Text:wght@200..700&display=swap');

body{
    background-color: black;
    height: 100vh;
    /* overflow: hidden; */
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    /* color: white; */
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 5vh;
    width: 100vw;
    padding: 8px;
    background-color: black;
    color: white;
    position: fixed;
}
nav ul li{
    padding: 0 15px;
}
.brand img{
    height: 32px;
    width: 32px;
    box-sizing: border-box;
}
.brand{
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.container{  
    /* min-height: 91vh; */
    /* background-color: midnightblue; */
    border-radius: 2vh;
    color: white;
    font-family: "Poppins", sans-serif; 
    /* display: flex; */
    margin: auto 10px;
    height: calc(100vh - 5vh - 9vh);
}
.details{
    padding: 85px 5px;
    position: fixed;
    font-size: 8px;
    /* background-color: midnightblue; */
}
h1{
    text-indent: 20px;
    /* position: fixed; */
}

.songitemcontainer{
    margin-top: 20px;
}
.songitem{
    height: 5vh;
    display: flex;
    /* justify-items: center;
    align-items: center; */
    background-color: black;
    border: 5px solid darkred;
    /* width: 20vw; */
    color: white;
    margin: 10px 10px;
    border-radius: 34px;
    box-shadow: 0 0 15px purple;
}
.songitem img{
    /* width: 5vh; */
    /* background-color: yellow; */
    border-radius: 34px;
    margin: 0 20px;
}
.songitem svg{
    width: 20px;
    border: 2px solid wheat;
    cursor: pointer;
}
.songname{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 0 0 95px;
    font-size: 15px;
}
/* .sn{
    margin: 0 0 0 5px;
} */
/* .songlistplay{
    
} */
.timestamp{
    display: flex;
    justify-items: center;
    align-items: center;
    /* margin: 13px 130px; */
    margin-top: 13px;
    /* margin-bottom: 7px; */
    margin-left: 100px;
    margin-right: 20px;
    font-size: 16px;
}
.artwork{
    display: flex;
    justify-content: center;
    align-items: center;
}
.artwork img{
    max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  /* opacity: 0.3; */
    transition: 0.4s ease;
    /* transform: 0.5s ease; */
}
.artwork img:hover{
    opacity: 0.2;
    transform: scale(1.05);
}
.bottom{
    display: flex;
    position: fixed;
    background-color: black;
    color: white;
    height: 9vh;
    bottom: 0;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.icons{
    margin-bottom: 10px;
}
#myProgressBar{
    width: 70vh;
    cursor: pointer;
}
svg{
    fill: white;
    width: 30px;
    cursor: pointer;
}   
.songinfo{
    position: absolute;
    left: 40px;
    font-family: "Poppins", sans-serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}