@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Stack+Sans+Text:wght@200..700&display=swap');

body{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
    color: white;
}
nav{
  position: fixed;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 5vh;
    width: 100vw;
    padding: 8px;
    background-color: black;
}
nav ul li{
    padding: 0 15px;
}
.brand img{
    height: 32px;
    width: 32px;
    box-sizing: border-box;
}
.brand{
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.container{
    height: 120vh;
    background-color: midnightblue;
    color: white;
    font-family: "Poppins", sans-serif;
}
.details{
    padding: 85px 5px;
    position: fixed;
    font-size: 8px;
}
h1{
    text-indent: 20px;
}
.bottom{
    display: flex;
    position: sticky;
    background-color: black;
    color: white;
    height: 9vh;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.icons{
    margin-bottom: 10px;
}
#myprogressbar{
    width: 70vh;
}
svg{
    fill: white;
    width: 30px;
    cursor: pointer;
}